.img-container {
  grid-area: image;
  display: flex;
  min-height: 527px;
  align-items: center;
  position: relative;
  width: 100%;
}
.img-planet {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.img-container-mercury {
  max-width: 111px;
  max-height: 111px;
}

.img-container-venus {
  max-width: 154px;
  max-height: 154px;
}

.img-container-earth {
  max-width: 173px;
  max-height: 173px;
}

.img-container-mars {
  max-width: 129px;
  max-height: 129px;
}

.img-container-jupiter {
  max-width: 224px;
  max-height: 224px;
}

.img-container-saturn {
  max-width: 256px;
  max-height: 256px;
}

.img-container-uranus {
  max-width: 176px;
  max-height: 176px;
}

.img-container-neptune {
  max-width: 173px;
  max-height: 173px;
}

.img-surface-container {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  width: 100%;
}
.img-geology {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 113px;
  height: 149px;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .img-container {
    grid-area: image;
  }
  .img-container-mercury {
    max-width: 184px;
    max-height: 184px;
  }

  .img-container-venus {
    max-width: 253px;
    max-height: 253px;
  }

  .img-container-earth {
    max-width: 285px;
    max-height: 285px;
  }

  .img-container-mars {
    max-width: 213px;
    max-height: 213px;
  }

  .img-container-jupiter {
    max-width: 369px;
    max-height: 369px;
  }

  .img-container-saturn {
    max-width: 422px;
    max-height: 422px;
  }

  .img-container-uranus {
    max-width: 290px;
    max-height: 290px;
  }

  .img-container-neptune {
    max-width: 285px;
    max-height: 285px;
  }
}
@media (min-width: 1000px) {
  .img-container-mercury {
    max-width: 290px;
    max-height: 290px;
  }

  .img-container-venus {
    max-width: 400px;
    max-height: 400px;
  }

  .img-container-earth {
    max-width: 450px;
    max-height: 450px;
  }

  .img-container-mars {
    max-width: 336px;
    max-height: 336px;
  }

  .img-container-jupiter {
    max-width: 582px;
    max-height: 582px;
  }

  .img-container-saturn {
    max-width: 666px;
    max-height: 666px;
  }

  .img-container-uranus {
    max-width: 458px;
    max-height: 458px;
  }

  .img-container-neptune {
    max-width: 450px;
    max-height: 450px;
  }

  .img-geology {
    width: 163px;
    height: 199px;
  }
}
