@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Spartan:wght@400;700&display=swap');
/* 
fonts: antonio 400
spartaon 400 700  */
$very-darkish-blue: hsl(240, 67%, 8%);
$dark-gray: hsl(240, 17%, 26%);
$light-gray: hsla(240, 6%, 54%);

$light-teal: hsl(194, 48%, 49%);
$light-yellow: hsl(33, 82%, 61%);
$light-purple: hsl(263, 67%, 51%);
$light-orange: hsl(10, 63%, 51%);
$dark-red: hsl(2, 68%, 53%);
$dark-orange: hsl(17, 73%, 46%);
$dark-teal: hsl(169, 73%, 44%);
$dark-blue: hsl(222, 87%, 56%);

$white: #ffffff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $very-darkish-blue;
  background-image: url('./assets/background-stars.svg');
  color: $white;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}
.fs-900,
.fs-800,
.fs-700 {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
}
.fs-600,
.fs-500,
.fs-400,
.fs-300,
.fs-200 {
  font-family: 'Spartan', sans-serif;
}

// logo text
.fs-900 {
  font-size: 1.75rem;
  line-height: 36px;
  letter-spacing: -1.05px;
}
// header text
.fs-800 {
  font-size: 2.5rem;
  line-height: 52px;
}
// number data text
.fs-700 {
  font-size: 1.25rem;
  line-height: 26px;
  letter-spacing: -0.75px;
}
// paragraph text
.fs-600 {
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 22px;

  color: $white;
}
// tabs text
.fs-500 {
  font-weight: 700;
  font-size: 0.5625rem;
  line-height: 10px;

  letter-spacing: 1.92857px;
  text-transform: uppercase;

  color: $light-gray;
}
// links text
.fs-400 {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 25px;
  letter-spacing: 1.36364px;
  text-transform: uppercase;

  color: $white;
}
// wiki text
.fs-300 {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 25px;

  color: $light-gray;
}
// fact text
.fs-200 {
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 16px;
  letter-spacing: 0.727273px;
  text-transform: uppercase;

  color: $light-gray;
}

.grid-container {
  text-align: center;
  display: grid;
  // grid-template-rows: min-content minmax(400px, 1fr) min-content min-content;
  padding-bottom: 2em;
  min-height: 100vh;
  grid-template-areas:
    'tabs'
    'image'
    'info'
    'fact';
}

@media (min-width: 768px) {
  .grid-container {
    padding: 0 2.5em 2em;
    // grid-template-rows: 1.5fr 1fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'image image'
      'info tabs'
      'fact fact';
  }
  // header text
  .fs-800 {
    font-size: 3rem;
    line-height: 62px;
  }
  // number data text
  .fs-700 {
    font-size: 1.5rem;
    line-height: 52px;
    letter-spacing: -1.5px;
  }
  // paragraph text
  .fs-600 {
    font-size: 0.875rem;
    line-height: 25px;
  }
  // tabs text
  .fs-500 {
    line-height: 25px;
  }
  // links text
  .fs-400 {
    color: $light-gray;
    font-size: 0.6875rem;
    letter-spacing: 1px;
  }
}
@media (min-width: 1000px) {
  .grid-container {
    padding: 0 1em 2em;
    grid-template-columns: 2fr 1fr;
    // grid-template-rows: 2fr 1fr min-content;
    grid-template-areas:
      'image .'
      'image info'
      'image tabs'
      'fact fact';
    max-width: 1110px;
    margin: 0 auto;
  }
  // header text
  .fs-800 {
    font-size: 5rem;
    line-height: 104px;
  }
  // number data text
  .fs-700 {
    font-size: 2.5rem;
    line-height: 52px;
    letter-spacing: -1.5px;
  }

  // tabs text
  .fs-500 {
    font-size: 0.75rem;
    letter-spacing: 2.57143px;
  }

  // wiki text
  .fs-300 {
    font-size: 0.875rem;
  }
  // fact text
  .fs-200 {
    font-size: 0.6876rem;
    line-height: 25px;
    letter-spacing: 1px;
  }
}
@media (min-width: 1150px) {
  .grid-container {
    padding: 0 0 2em;
  }
}
